body { padding-top: 70px; }

.jumbotron {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/systemsBackground.png");
}

#success_message, #failed_message, #success_message_employment
, #failed_message_employement, #employment-button {
    display: none;
}

#degree-container, #employment-container {
    display: none;
}

#degree-plus, #employment-plus {
    padding-bottom: 10px;
    font-size: 20px;
}