body { padding-top: 70px; }

.jumbotron {
    background-image: url("../images/systemsBackground.png");
}

#success_message, #failed_message, #success_message_employment
, #failed_message_employement, #employment-button {
    display: none;
}

#degree-container, #employment-container {
    display: none;
}

#degree-plus, #employment-plus {
    padding-bottom: 10px;
    font-size: 20px;
}