<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Add a student</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/index.css" rel="stylesheet">
</head>
<body>

<div class="jumbotron text-center">
    <h1>UWT Institute of Technology student data system</h1>
    <p>Editing a new student entry</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h3>Back to main</h3>
            <a href="/main" class="btn btn-info" role="button">Back to main</a>
        </div>
        <div class="col-sm-8">
            <h1>Form</h1>
            <form action="#" th:action="@{/submitForm}" method="post">
                <p>id: <input type="text" name="id"/></p>
                <p>UW e-mail: <input type="text" name="uwEmail"/></p>
                <p>External e-mail: <input type="text" name="email"/></p>
                <p>GPA: <input type="text" name="gpa"/></p>
                <p>TO DO PROPRERLY Degree: <input type="text" name="degrees"/></p>
                <p>Transfer colleges: <input type="text" name="transferColleges"/></p>
                <p>Employement: <input type="text" name="employments"/></p>
                <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
            </form>
        </div>
    </div>
</div>

</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="http://malsup.github.com/jquery.form.js"></script>
<script src="js/add-student.js"></script>

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</html>