<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Add a student</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/index.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="http://malsup.github.com/jquery.form.js"></script>

    <script>
        // wait for the DOM to be loaded
        $(document).ready(function () {
            // bind 'myForm' and provide a simple callback function
            $('#myForm').ajaxForm(function () {
                alert("Thank you for your comment!");
            });
        });
    </script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="http://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <!--<script type="text/javascript">-->

        <!--window.onload = function () {-->
            <!--var chart = new CanvasJS.Chart("chartContainer", {-->
                <!--theme: "theme2",//theme1-->
                <!--title:{-->
                    <!--text: "Basic Column Chart - CanvasJS"-->
                <!--},-->
                <!--animationEnabled: false,   // change to true-->
                <!--data: [-->
                    <!--{-->
                        <!--// Change type to "bar", "area", "spline", "pie",etc.-->
                        <!--type: "column",-->
                        <!--dataPoints: [-->
                            <!--{ label: "apple",  y: 10  },-->
                            <!--{ label: "orange", y: 15  },-->
                            <!--{ label: "banana", y: 25  },-->
                            <!--{ label: "mango",  y: 30  },-->
                            <!--{ label: "grape",  y: {{#report}}{{.}}{{/report}}  }-->
                        <!--]-->
                    <!--}-->
                <!--]-->
            <!--});-->
            <!--chart.render();-->
        <!--}-->
    <!--</script>-->
</head>
<body>

<div class="jumbotron text-center">
    <h1>UWT Institute of Technology student data system</h1>
    <p>Create a report</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h3>Back to main</h3>
            <a href="/main" class="btn btn-info" role="button">Back to main</a>
        </div>
        <div class="col-sm-8">
            <h1>Form</h1>
            <form action="#"  method="post">
                <p>name: <input type="text" name="name"/></p>
                <p>id: <input type="text" name="id"/></p>
                <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
            </form>
        </div>
    </div>
</div>
<div id="chartContainer" style="height: 300px; width: 100%;"></div>
</body>
<!-- Form Validation JS -->
<script src="js/create-report.js"></script>
</html>