<!DOCTYPE HTML>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Student data system</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/index.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="jumbotron text-center">
    <h1>UWT Institute of Technology student data system</h1>
    <p>Choose one of the options below</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <h3>Add a student</h3>
            <a href="/addStudent" class="btn btn-info" role="button">Add student</a>
            <p>Add a new student to the system.</p>
        </div>
        <div class="col-sm-3">
            <h3>Update student</h3>
            <a href="/updateStudent" class="btn btn-info" role="button">Update student</a>
            <p>If a student is already in the system but needs information updated.</p>
        </div>
        <div class="col-sm-3">
            <h3>Create a report</h3>
            <a href="/createReport" class="btn btn-info" role="button">Create a report</a>
            <p>Create a report based on student data.</p>
        </div>
        <div class="col-sm-3">
            <h3>View all students</h3>
            <a href="/viewStudents" class="btn btn-info" role="button">View all students</a>
            <p>View all students.</p>
        </div>
    </div>
</div>
</body>
</html>
